#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        /* 🔥 [Root Cause 최종 해결] 공통 키맵(imprint.keymap)의 chosen 블록과 
         * matrix-transform 타깃 라벨 명칭을 완벽하게 일치시켜 컴파일러 검증을 패스합니다. */
        zmk,matrix-transform = &imprint_function_row;
        zmk,physical-layout = &physical_layout_imprint;
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };

    /* 키맵 바인딩 개수(76개)와 100% 동기화된 가상 변환 매트릭스 맵 */
    imprint_number_row:
    imprint_function_row:
    imprint_letters_only:
    imprint_number_row_full_bottom_row:
    imprint_function_row_full_bottom_row:
    imprint_letters_only_full_bottom_row:
    mock_transform {
        compatible = "zmk,matrix-transform";
        columns = <8>;
        rows = <14>;
        map = <
            /* 키맵 맨 윗줄의 &none (12개) 오프셋 매칭용 행 */
            0x605 0x604 0x603 0x602 0x601 0x600 0xd00 0xd01 0xd02 0xd03 0xd04 0xd05

            /* 메인 알파열 및 하단 엄지열 (64개) */
            0x505 0x504 0x503 0x502 0x501 0x500 0xc00 0xc01 0xc02 0xc03 0xc04 0xc05
            0x405 0x404 0x403 0x402 0x401 0x400 0xb00 0xb01 0xb02 0xb03 0xb04 0xb05
            0x305 0x304 0x303 0x302 0x301 0x300 0xa00 0xa01 0xa02 0xa03 0xa04 0xa05
            0x205 0x204 0x203 0x202 0x201 0x200 0x900 0x901 0x902 0x903 0x904 0x905
            0x103 0x102 0x802 0x803 0x3 0x2 0x1 0x701 0x702 0x703 0x7 0x6 0x5 0x705 0x706 0x707
        >;
    };

    /* ZMK v0.3.0 안정 버전 규격을 100% 만족하는 표준 물리 레이아웃 트리 구조 */
    physical_layout_imprint: physical_layout_imprint {
        compatible = "zmk,physical-layout";
        display-name = "Imprint Dongle";
        transform = <&imprint_function_row>;
        kscan = <&mock_kscan>;
        
        /* 외부 가상 칩 오인 문제를 해결하는 순수 자식 노드 형태의 표준 컴파일 검증 플래그 */
        dummy_key {
            compatible = "zmk,physical-layout-key";
            x = <0>;
            y = <0>;
            width = <100>;
            height = <100>;
        };
    };

    /* 공통 키맵 파일의 라벨 미정의 에러(undefined node label) 우회용 가상 스텁 */
    trackball_peripheral_split: dummy_trackball_node {};
};