#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    chosen { zmk,matrix-transform = &imprint_function_row; };

    behaviors {
        win_d_ctsf_esc: win_d_ctsf_esc {
            compatible = "zmk,behavior-tap-dance";
            label = "WIN_D_CTSF_ESC";
            #binding-cells = <0>;
            bindings = <&kp LG(D)>, <&kp LC(LS(ESCAPE))>;
        };

        alt_ctrlf: alt_ctrlf {
            compatible = "zmk,behavior-tap-dance";
            label = "ALT_CTRLF";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT>, <&kp LC(F)>;
        };

        hanja_emoji: hanja_emoji {
            compatible = "zmk,behavior-tap-dance";
            label = "HANJA_EMOJI";
            #binding-cells = <0>;
            bindings = <&kp LANG_HANJA>, <&kp LG(PERIOD)>;
        };

        koreng_ctrls: koreng_ctrls {
            compatible = "zmk,behavior-tap-dance";
            label = "KORENG_CTRLS";
            #binding-cells = <0>;
            bindings = <&kp LANG_HANGEUL>, <&kp LC(S)>;
        };

        esc_tilde: esc_tilde {
            compatible = "zmk,behavior-mod-morph";
            label = "ESC_TILDE";
            bindings = <&kp ESC>, <&kp TILDE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mo_tog_layer: mo_tog_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_TOG_LAYER";
            bindings = <&mo>, <&tog>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
        };

        scrsav_capture: scrsav_capture {
            compatible = "zmk,behavior-tap-dance";
            label = "SCRSAV_CAPTURE";
            #binding-cells = <0>;
            bindings = <&trans>, <&kp LA(LC(M))>, <&kp LG(PRINTSCREEN)>;
        };

        win_ctrlz: win_ctrlz {
            compatible = "zmk,behavior-tap-dance";
            label = "WIN_CTRLZ";
            #binding-cells = <0>;
            bindings = <&kp LEFT_GUI>, <&kp LC(Z)>;
        };

        shft_f5: shft_f5 {
            compatible = "zmk,behavior-tap-dance";
            label = "SHFT_F5";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_SHIFT>, <&kp F5>;
        };
    };

    combos {
        compatible = "zmk,combos";

        quote_combo {
            timeout-ms = <40>;
            key-positions = <44 45>;
            bindings = <&kp RS(SQT)>;
        };

        ctrlv_combo {
            bindings = <&kp LC(V)>;
            key-positions = <52 53>;
            timeout-ms = <40>;
            layers = <0 1 2>;
        };

        altesc_combo {
            bindings = <&kp LA(ESC)>;
            key-positions = <16 17>;
            timeout-ms = <40>;
        };

        mouse_to_center {
            bindings = <&kp LS(LA(LC(F12)))>;
            key-positions = <18 19>;
        };

        refresh {
            bindings = <&kp F5>;
            key-positions = <29 17>;
        };

        ctrl_tab {
            bindings = <&kp LC(TAB)>;
            key-positions = <28 27>;
        };

        ctrl_sft_tab {
            bindings = <&kp LC(LS(TAB))>;
            key-positions = <27 26>;
        };

        ctrlc_combo {
            bindings = <&kp LC(C)>;
            key-positions = <61 52>;
            timeout-ms = <40>;
            layers = <0 1 2>;
        };

        mouse_tog {
            bindings = <&tog 2>;
            key-positions = <69 68>;
            timeout-ms = <40>;
        };

        command_c {
            bindings = <&kp LG(C)>;
            key-positions = <61 52>;
            layers = <3>;
        };

        command_v {
            bindings = <&kp LG(V)>;
            key-positions = <52 53>;
            layers = <3>;
        };

        apple_layer {
            bindings = <&tog 3>;
            key-positions = <5 6>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&none            &none   &none       &none   &none             &none                               &none          &none      &none      &none              &none     &none
&esc_tilde       &kp N1  &kp N2      &kp N3  &kp N4            &kp N5                              &kp N6         &kp N7     &kp N8     &kp N9             &kp N0    &kp MINUS
&kp EQUAL        &kp Q   &kp W       &kp E   &kp R             &kp T                               &kp Y          &kp U      &kp I      &kp O              &kp P     &kp BSLH
&kp TAB          &kp A   &kp S       &kp D   &kp F             &kp G                               &kp H          &kp J      &kp K      &kp L              &kp SEMI  &kp SQT
&scrsav_capture  &kp Z   &kp X       &kp C   &kp V             &kp B                               &kp N          &kp M      &kp COMMA  &kp DOT            &kp FSLH  &win_d_ctsf_esc
                         &win_ctrlz  &mo 1                                                                                   &kp LBKT   &kp RIGHT_BRACKET
                                             &mt LSHIFT SPACE  &mt LCTRL ENTER  &alt_ctrlf         &hanja_emoji   &mo 1      &shft_f5
                                             &kp BACKSPACE     &kp DELETE       &mt LC(X) LC(A)    &koreng_ctrls  &kp ENTER  &kp SPACE
            >;
        };

        Layer_1 {
            bindings = <
&trans      &trans     &trans         &trans     &trans              &trans                             &trans         &trans              &trans              &trans               &trans   &trans
&kp LA(F4)  &kp LC(W)  &trans         &trans     &trans              &kp F5                             &kp HOME       &trans              &trans              &trans               &kp F11  &kp C_VOLUME_UP
&trans      &trans     &trans         &trans     &trans              &trans                             &kp END        &trans              &kp LG(UP_ARROW)    &trans               &trans   &kp C_VOLUME_DOWN
&trans      &trans     &trans         &mkp MCLK  &kp LC(LS(TAB))     &kp LC(TAB)                        &kp PAGE_UP    &kp LG(LEFT_ARROW)  &kp LG(DOWN_ARROW)  &kp LG(RIGHT_ARROW)  &trans   &kp C_MUTE
&sys_reset  &trans     &trans         &trans     &kp LA(LEFT_ARROW)  &kp LA(RIGHT_ARROW)                &kp PAGE_DOWN  &kp LEFT            &kp UP_ARROW        &kp RIGHT            &trans   &sys_reset
                       &kp LC(LS(T))  &trans                                                                                               &kp DOWN            &kp RIGHT
                                                 &trans              &trans               &trans        &trans         &trans              &trans
                                                 &bt BT_SEL 0        &bt BT_SEL 1         &bt BT_CLR    &trans         &trans              &trans
            >;
        };

        Auto_Mouse_Layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans            &trans          &trans          &trans          &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &kp HOME        &trans          &trans          &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &kp END         &trans          &trans          &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &msc SCRL_UP    &mkp LCLK       &mkp MCLK       &mkp MB2         &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &msc SCRL_DOWN  &mmv MOVE_LEFT  &mmv MOVE_UP    &mmv MOVE_RIGHT  &trans  &trans
                &trans  &trans                                                            &mmv MOVE_DOWN  &mmv MOVE_RIGHT
                                &trans  &trans  &trans    &trans          &trans          &mkp LCLK
                                &trans  &trans  &trans    &trans          &trans          &mkp MB2
            >;
        };

        layer_3 {
            bindings = <
&none            &none   &none       &none   &none             &none                               &none          &none      &none      &none              &none     &none
&esc_tilde       &kp N1  &kp N2      &kp N3  &kp N4            &kp N5                              &kp N6         &kp N7     &kp N8     &kp N9             &kp N0    &kp MINUS
&kp EQUAL        &kp Q   &kp W       &kp E   &kp R             &kp T                               &kp Y          &kp U      &kp I      &kp O              &kp P     &kp BSLH
&kp TAB          &kp A   &kp S       &kp D   &kp F             &kp G                               &kp H          &kp J      &kp K      &kp L              &kp SEMI  &kp SQT
&scrsav_capture  &kp Z   &kp X       &kp C   &kp V             &kp B                               &kp N          &kp M      &kp COMMA  &kp DOT            &kp FSLH  &win_d_ctsf_esc
                         &win_ctrlz  &mo 4                                                                                   &kp LBKT   &kp RIGHT_BRACKET
                                             &mt LSHIFT SPACE  &mt LCTRL ENTER  &alt_ctrlf         &hanja_emoji   &mo 4      &shft_f5
                                             &kp BACKSPACE     &kp DELETE       &mt LG(X) LG(A)    &kp LC(SPACE)  &kp ENTER  &kp SPACE
            >;
        };

        layer_4 {
            bindings = <
&trans      &trans     &trans         &trans     &trans              &trans                             &trans               &trans              &trans              &trans               &trans   &trans
&kp LA(F4)  &kp LC(W)  &trans         &trans     &trans              &kp F5                             &kp LG(LEFT_ARROW)   &trans              &trans              &trans               &kp F11  &kp C_VOLUME_UP
&trans      &trans     &trans         &trans     &trans              &trans                             &kp LG(RIGHT_ARROW)  &trans              &kp LG(UP_ARROW)    &trans               &trans   &kp C_VOLUME_DOWN
&trans      &trans     &trans         &mkp MCLK  &kp LC(LS(TAB))     &kp LC(TAB)                        &kp LG(UP_ARROW)     &kp LG(LEFT_ARROW)  &kp LG(DOWN_ARROW)  &kp LG(RIGHT_ARROW)  &trans   &kp C_MUTE
&sys_reset  &trans     &trans         &trans     &kp LA(LEFT_ARROW)  &kp LA(RIGHT_ARROW)                &kp LG(DOWN_ARROW)   &kp LEFT            &kp UP_ARROW        &kp RIGHT            &trans   &sys_reset
                       &kp LC(LS(T))  &trans                                                                                                     &kp DOWN            &kp RIGHT
                                                 &trans              &trans               &trans        &trans               &trans              &trans
                                                 &bt BT_SEL 0        &bt BT_SEL 1         &bt BT_CLR    &trans               &trans              &trans
            >;
        };
    };
};
